<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "first_app/css/mystyles.css" %}">
</head>
<body>
    <h1>Hello</h1>
    
    <div class="mydjang">
        {% if access_records %}
            <table>
                <thead>
                    <th>name</th>
                    <th>date</th>
                </thead>
                    {% for val in access_records %}
                    <tr>
                     <td>{{val.name}}</td>
                     <td>{{val.date}}</td>
                    </tr>
                    {% endfor %}
            </table>
        {% else %}
            <p>No records</p>
        {% endif %}   
    </div>


</body>
</html>